<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Reserva</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg" style="background-color: #283618;">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarButtonsExample" >

                <div class="flex-shrink-0 me-4">
                  <% if (profile) { %>
                    <img src="data:image/png;base64, <%= profile %>"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } else {%>
                    <img src="/Photos/default_profile.png"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } %>
                </div>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/hotel_admins">Menú Principal</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/my_account/my_profile_1">Mi perfil</a>
                  </li>
                </ul>
                
                <form method="POST" action="/logout">
                  <div class="d-flex align-items-center">
                    <button type="submit" class="btn me-3" style="background-color: #dda15e;">Cerrar sesión</button>
                  </div>
                </form>
              
              </div>
            </div>
        </nav>

        <!--------------------------------------------------------------------------------------------------------------------------->

        <section class="mb-4 mt-2">
            <div class="container">
              <a href="/hotel_admins/bookin_catalog" class="btn btn-light mt-0"><span class="bi bi-arrow-left"></span></a>
              <div class="row">
  
                <div class="col">
  
                  <div class="d-flex align-items-center mb-4 pb-1">
                    <span class="h2 fw-bold mb-0">Habitaciones de la reserva</span>
                  </div>
  
                  <div style="max-height: 550px; display: block; overflow: auto; position: relative;">
    
                    <% rooms.forEach( room => {%>
                      <div class="card mb-4" id="room-<%= room.id %>">
                        <div class="card-body">
      
                          <h5 class="card-title"><%= room.name %></h5>
                          <p class="card-text">Precio por noche: <%= room.admin_price%>$</p>
                          <p class="card-text"><small class="text-muted">Capacidad: <%= room.capacity%> personas</small></p>
                          <p class="card-text"><small class="text-muted">Unidades solicitadas: <%= room.units%></small></p>
  
                        </div>
                      </div>
                      <% }) %>
  
                  </div>
                </div>
  
                <div class="col">
  
                  <div class="d-flex align-items-center mb-4 pb-1">
                    <span class="h2 fw-bold mb-0">Detalles</span>
                  </div>
  
                  <div>
                    <div class="card-body">
  
                      <label class="h5 fw-bold mb-2">Fechas de estadía</label>
                      <p class="card-text mb-4">
                        Fecha de check-in: <%= booking_data.check_in_date.toLocaleDateString() %> &nbsp;&nbsp;&nbsp;
                        Fecha de check-out: <%= booking_data.check_out_date.toLocaleDateString() %> &nbsp;&nbsp;&nbsp;
                        Total de noches: <%= booking_data.nights %>
                      </p>
  
                      <label class="h5 fw-bold mb-2">Total de habitaciones</label>
                      <p class="card-text mb-4">
                        <%= booking_data.room_count %> habitaciones
                      </p>
  
                      <div class="row">
                        <div class="col">
                          <label class="h5 fw-bold mb-2">Precio total</label>
                          <p class="card-text mb-4">
                          <%= booking_data.price %>$
                          </p>
                        </div>
  
                        <div class="col">
                          <label class="h5 fw-bold mb-2">Precio final (I.V.A incluido)</label>
                          <p class="card-text mb-4">
                            <%= booking_data.price_with_fee %>$
                          </p>
                        </div>
                      </div>
  
                      <label class="h5 fw-bold mb-2">Método de pago</label>
                      <p class="card-text mb-4">
                        <%= booking_data.payment_method_name %>
                      </p>
  
                      <div class="row">

                        <div class="col">
                          <label class="h5 fw-bold mb-2">Estado</label>
                          <p class="card-text mb-4">
                            <%= booking_data.status_name %>
                          </p>
                        </div>

                        <div class="col">

                          <!-- Si la reserva está confirmada, se despliega la advertencia de cancelación y el botón para cancelar-->   
                          <% if (booking_data.status_id == 1 && is_cancelable){ %>
                            <label class="h5 fw-bold mb-2">Política de cancelación</label>
                            <p class="card-text mb-4">
                              <%= cancel_message %>
                            </p>
                            <button onclick="javascript:cancel_booking('<%= booking_data.id %>')" class="btn btn-danger">Cancelar reserva</button>
                          <% } else if (booking_data.status_id == 2) { %>
                            <label class="h5 fw-bold mb-2">Política de cancelación</label>
                            <p class="card-text mb-4">
                              <%= cancel_message %>
                            </p>
                          <% } %>

                        </div>

                      </div>
                      
                    </div>
                  </div>
  
                </div>
  
              </div>

                 <!-- Pop ups de mensajes ----------------------------------------------------------------------->

                 <!-- Pop de mensage de éxito -->  
                 <div class="modal fade" id="success_alert_modal" tabindex="-1" aria-labelledby="success_alert_modal" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="alert alert-success alert-dismissible">
                          <p id="success_message"></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                  </div>
               </div>

               <!-- Pop de mensage de error -->  
               <div class="modal fade" id="error_alert_modal" tabindex="-1" aria-labelledby="error_alert_modal" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="alert alert-danger alert-dismissible">
                          <p id="error_message"></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                  </div>
               </div>

            </div>
          </section>

    </body>
    <script>

      // Envía una petición http al servidor y retorna la respuesta si hubo éxito
      function send_request(request_type, url, request_body){
            
            return new Promise(async (resolve, reject) => {

                const http = new XMLHttpRequest()
                
                http.onreadystatechange = function(){
                    
                    if (this.readyState == 4 && this.status == 200){
                        const response = JSON.parse(this.response)
                        return resolve(response)    
                    }
                }

                http.open(request_type, url)
                http.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
                http.send(JSON.stringify(request_body))
            })
      }

      // Función para cancelar la reserva
      async function cancel_booking(booking_id){
        const request_body = {booking_id: booking_id}
        const url = "http://localhost:4500/hotel_admins/cancel_booking"
        const response = await send_request("POST", url, request_body)
        show_response(response)
      }

      // Muestra el modal con la respuesta de una petición
      function show_response(response){

        if (response.error){
            document.getElementById("error_message").innerHTML = response.message
            $('#error_alert_modal').modal('show')
        } else {
            document.getElementById("success_message").innerHTML = response.message
            $('#success_alert_modal').modal('show')
        }
      }

      $('#success_alert_modal').on('hidden.bs.modal', function () {
        location.reload()
      })

    </script>
</html>