<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Catálogos</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg" style="background-color: #283618;">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarButtonsExample" >

                <div class="flex-shrink-0 me-4">
                  <% if (profile) { %>
                    <img src="data:image/png;base64, <%= profile %>"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } else {%>
                    <img src="/Photos/default_profile.png"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } %>
                </div>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/master_admins">Menú Principal</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/my_account/my_profile_1">Mi perfil</a>
                  </li>
                </ul>
                
                <form method="POST" action="/logout">
                  <div class="d-flex align-items-center">
                    <button type="submit" class="btn me-3" style="background-color: #dda15e;">Cerrar sesión</button>
                  </div>
                </form>
              
              </div>
            </div>
        </nav>

        <!--------------------------------------------------------------------------------------------------------------------------->

        <section class="mb-4 mt-4">
            <div class="container">

              <div class="d-flex align-items-center pb-1">
                <span class="h3 fw-bold mb-0 me-4">Tipos de identificación
                </span>

                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#registration_modal">
                    Registrar
                </button>

            </div>

              <div style="height: 600px; display: block; overflow: auto; position: relative;">

                <table class="table mt-4 table-striped table-bordered">
                    <thead class="bg-light">
                      <tr>
                        <th>Nombre</th>
                        <th>Caracteres máximos</th>
                        <th>Máscara</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>

                    <tbody>

                      <% id_types.forEach(id_type => {%>

                        <tr id="<%= id_type.id %>">

                            <td>
                              <p class="fw-normal mb-1"><%= id_type.name %></p>
                            </td>

                            <td>
                              <p class="fw-normal mb-1"><%= id_type.max_characters %></p>
                            </td>

                            <% if (id_type.is_alphanumeric){ %>
                                <td>
                                  <p class="fw-normal mb-1">Alfanumérico</p>
                                </td>
                            <% } else{ %>
                                <td>
                                  <p class="fw-normal mb-1">Numérico</p>
                                </td>
                            <% } %>
                            
                            <td id="buttons-1">
                                
                                <button type="button" class="btn btn-link btn-sm btn-rounded" onclick="javascript:edit_row('<%= id_type.id %>', '<%= id_type.name %>', '<%= id_type.max_characters %>', '<%= id_type.is_alphanumeric %>')">
                                    Editar
                                </button>

                                <button type="button" class="btn btn-link btn-sm btn-rounded" onclick="javascript:delete_id_type('<%= id_type.id %>')">
                                   Eliminar
                                </button>
                            </td>
                        </tr>
                        
                      <%})%>

                    </tbody>
                  </table>
                </div>

                 <!-------------------------------------------------------------------------------------------------------->

                  <!-- Pop up para la edición de tipo de identificación -->
                  <div class="modal fade" id="edition_modal" tabindex="-1" aria-labelledby="edition_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Editar tipo de identificación</h1>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <section id="edition_modal_body">
                            </section> 

                        </div>
                    </div>
                 </div>

                 <!-- Pop up para el registro de tipo de identificación -->
                 <div class="modal fade" id="registration_modal" tabindex="-1" aria-labelledby="registration_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Registrar tipo de identificación</h1>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form onsubmit="javascript:register_id_type(event)">
                                <div class="modal-body">

                                    <div class="form-outline mb-4">
                                        <input type="text" id="register_name" name="register_name" maxlength="50" class="form-control" required/>
                                        <label class="form-label">Nombre</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="number" id="max_characters" name="max_characters" min="1" max="50" class="form-control" required/>
                                        <label class="form-label">Caracteres máximos</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="is_alphanumeric" id="alphanumeric" value="1" checked>
                                        <label class="form-check-label">
                                          Alfanumérico
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="is_alphanumeric" id="numeric" value="0">
                                        <label class="form-check-label">
                                          Numérico
                                        </label>
                                      </div>
                
                                </div>
                                            
                                <div class="modal-footer">
                                    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn text-white" style="background-color: #606c38;">Registrar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                 </div>


                 <!-- Pop ups de mensajes ----------------------------------------------------------------------->

                 <!-- Pop de mensage de éxito -->  
                 <div class="modal fade" id="success_alert_modal" tabindex="-1" aria-labelledby="success_alert_modal" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="alert alert-success alert-dismissible">
                          <p id="success_message"></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                  </div>
               </div>

               <!-- Pop de mensage de error -->  
               <div class="modal fade" id="error_alert_modal" tabindex="-1" aria-labelledby="error_alert_modal" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="alert alert-danger alert-dismissible">
                          <p id="error_message"></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                  </div>
               </div>


            </div>
        </section>

    </body>
    <script>

        // Habilita el pop up para editar un tipo de identificación
        function edit_row(id_type_id, id_type_name, id_type_max_characters, id_type_is_alphanumeric){

            id_type_is_alphanumeric = parseInt(id_type_is_alphanumeric)

            const modal_content = `         
            
            <form onsubmit="javascript:update_id_type(event, ${id_type_id})">       
                <div class="modal-body">

                    <div class="form-outline mb-4">
                        <input type="text" id="new_name" name="new_name" value="${id_type_name}" maxlength="50" required class="form-control"/>
                        <label class="form-label">Nombre</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="number" id="new_max_characters" name="new_max_characters" min="1" max="50" value="${id_type_max_characters}" class="form-control" required/>
                        <label class="form-label">Caracteres máximos</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="new_is_alphanumeric" id="new_alphanumeric" value="1" ${id_type_is_alphanumeric ? "checked" : ""}>
                        <label class="form-check-label">Alfanumérico</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="new_is_alphanumeric" id="new_numeric" value="0" ${!id_type_is_alphanumeric ? "checked" : ""}>
                        <label class="form-check-label">Numérico</label>
                    </div>

                </div>
                            
                <div class="modal-footer">        
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn text-white" style="background-color: #606c38;">Guardar</button>
                </div>
            </form>
            `

            document.getElementById("edition_modal_body").innerHTML = modal_content
            $('#edition_modal').modal('show')
        }

        // Envía una petición http al servidor y retorna la respuesta si hubo éxito
        function send_request(request_type, url, request_body){
            
            return new Promise(async (resolve, reject) => {

                const http = new XMLHttpRequest()
                
                http.onreadystatechange = function(){
                    
                    if (this.readyState == 4 && this.status == 200){
                        const response = JSON.parse(this.response)
                        return resolve(response)    
                    }
                }

                http.open(request_type, url)
                http.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
                http.send(JSON.stringify(request_body))
            })
        }

        // Envía la petición para editar un tipo de identificación
        async function update_id_type(event, id_type_id){      
            event.preventDefault()
            const url = "http://localhost:4500/master_admins/update_id_type"
            const new_name = document.getElementById("new_name").value
            const new_max_characters = document.getElementById("new_max_characters").value

            var new_is_alphanumeric
            if (document.getElementById('new_alphanumeric').checked) {
              new_is_alphanumeric = document.getElementById('new_alphanumeric').value
            } else {
              new_is_alphanumeric = document.getElementById('new_numeric').value
            }

            const request_body = {id_type_id: id_type_id, new_name: new_name, new_max_characters: new_max_characters, new_is_alphanumeric: new_is_alphanumeric}
            const response = await send_request("POST", url, request_body)
            show_response(response)
        }

        // Envía la petición para eliminar un tipo de identificación
        async function delete_id_type(id_type_id) {
            const url = "http://localhost:4500/master_admins/delete_id_type"
            const request_body = {id_type_id: id_type_id}
            const response = await send_request("POST", url, request_body)
            show_response(response)  
        }

        // Envía la petición para registrar un tipo de identificación
        async function register_id_type(event) {
            event.preventDefault()
            const url = "http://localhost:4500/master_admins/register_id_type"
            const name = document.getElementById("register_name").value
            const max_characters = document.getElementById("max_characters").value

            var is_alphanumeric
            if (document.getElementById('alphanumeric').checked) {
              is_alphanumeric = document.getElementById('alphanumeric').value
            } else {
              is_alphanumeric = document.getElementById('numeric').value
            }

            const request_body = {name: name, max_characters: max_characters, is_alphanumeric: is_alphanumeric}
            const response = await send_request("POST", url, request_body)
            show_response(response)
        }

        // Muestra el modal con la respuesta de una petición
        function show_response(response){

            if (!response.error){
                $('#registration_modal').modal('hide')
                $('#edition_modal').modal('hide')
            }

            if (response.error){
                document.getElementById("error_message").innerHTML = response.message
                $('#error_alert_modal').modal('show')
            } else {
                document.getElementById("success_message").innerHTML = response.message
                $('#success_alert_modal').modal('show')
            }
        }

        $('#success_alert_modal').on('hidden.bs.modal', function () {
            location.reload()
        })
    </script>
</html>