<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Registro</title>
    </head>

    <body>

        <section style="background-color: #606c38;">
            <div class="container py-4">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col col-xl-10">

                        <div class="card" style="border-radius: 1rem;">

                            <form enctype="multipart/form-data" method="POST" action="/register">                    
                                <div class="row g-0">

                                    <div class="col-md-6 col-lg-6 d-none d-md-block">       
                                        <div class="card-body p-4 p-lg-5 text-black">

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <span class="h1 fw-bold mb-0">Registro</span>
                                            </div>
            
                                              <div class="form-outline mb-4">
                                                <input type="text" id="name" name="name" maxlength="100" required class="form-control form-control-lg" />
                                                <label class="form-label">Nombre (s)</label>
                                              </div>
            
                                              <div class="form-outline mb-4">
                                                <input type="text" id="last_name" name="last_name" maxlength="100" required class="form-control form-control-lg" />
                                                <label class="form-label">Apellido (s)</label>
                                              </div>
            
                                              <div class="form-outline mb-4">
                                                <input type="date" id="birthdate" name="birthdate" required class="form-control form-control-lg" />
                                                <label class="form-label">Fecha de nacimiento</label>
                                              </div>

                                              <select class="form-select mb-4" name="id_type" id="id_type" required onchange="javascript:config_id_type(value)">
                                                <option value="">Tipo de identificación</option>
                                                <% id_types.forEach( id_type => { %>
                                                  <option value="<%= id_type.id %>"><%= id_type.name %></option>
                                                <% }) %>
                                              </select>
            
                                              <div class="form-outline mb-4">
                                                <div id="id_type_input"></div>
                                              </div>

                                            <div class="btn-group">

                                              <select class="form-select me-4" style="width:200px" name="gender" id="gender" required>
                                                <option value="">Género</option>
                                                <% genders.forEach( gender => { %>
                                                  <option value="<%= gender.id %>"><%= gender.name %></option>
                                                <% }) %>
                                              </select>

                                              <select class="form-select" style="width:200px" name="nationality" id="nationality" required>
                                                <option value="">Nacionalidad</option>
                                                <% nationalities.forEach( nationality => { %>
                                                  <option value="<%= nationality.id %>"><%= nationality.name %></option>
                                                <% }) %>
                                              </select>

                                            </div>

                                        </div>                         
                                      </div>
            
                                      <div class="col-md-6 col-lg-6 d-flex align-items-center">
                                        <div class="card-body p-4 p-lg-5 text-black">

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <% if (locals.error) { %>
                                                  <p class="fw-bold mb-4 text-danger"><%= message %></p>
                                                <% } else { %>
                                                  <span class="h1 fw-bold mb-0">&nbsp;</span>
                                                <% } %>
                                            </div>
                                                       
                                            <div class="form-outline mb-4">
                                                <input type="text" id="telephone" name="telephone" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
                                                       pattern=".{8,8}" maxlength="8" class="form-control form-control-lg" placeholder="00000000"/>
                                                <label class="form-label">Teléfono</label>
                                            </div>
            
                                              <div class="form-outline mb-4">
                                                <input type="email" id="email" name="email" required class="form-control form-control-lg" />
                                                <label class="form-label">Email</label>
                                            </div>
            
                                            <div class="form-outline mb-4">
                                              <input type="text" id="username" name="username" maxlength="50" required class="form-control form-control-lg" />
                                              <label class="form-label">Nombre de usuario</label>
                                            </div>
                          
                                            <div class="form-outline mb-4">
                                              <input type="password" id="password" name="password" maxlength="30" required class="form-control form-control-lg" />
                                              <label class="form-label">Contraseña</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                              <input type="file" id="photo" name="photo" accept=".jpg,.png" class="form-control form-control-lg" />
                                              <label class="form-label">Foto de perfil</label>
                                          </div>

                          
                                          <div class="btn-group">

                                            <div class="pt-1 mb-4 me-4">
                                              <button class="btn btn-dark btn-lg btn-block" type="submit">Registrarse</button>
                                            </div>
                          
                                            <p class="align-self-center pb-lg-2">¿Ya tiene una cuenta? 
                                                <a href="/login">Iniciar sesión</a>
                                            </p>

                                          </div>

                                        </div>
                                      </div>

                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
          </section>

    </body>
    <script>

        birthdate.max = new Date().toISOString().split("T")[0]

        const id_types = JSON.parse('<%-JSON.stringify(id_types)%>'.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t"))

        function config_id_type(id_type_id){

          var id_type_selected

          for (i = 0; i < id_types.length; i++){
            if (id_types[i].id == id_type_id){
              id_type_selected = id_types[i]
              break
            }
          }

          var id_type_input

          if (id_type_selected.is_alphanumeric){
            id_type_input = `<input type="text" name="identification_number" required id="identification_number" 
                             maxlength="${id_type_selected.max_characters}" class="form-control form-control-lg"/> <label class="form-label">Número de identificación</label>`
          } else {
            id_type_input = `<input type="text" name="identification_number" required onkeypress="return is_number_key(event)" id="identification_number" 
             maxlength="${id_type_selected.max_characters}" class="form-control form-control-lg"/> <label class="form-label">Número de identificación</label>`
          }

          

          document.getElementById("id_type_input").innerHTML = id_type_input
        }
        
        function is_number_key(evt){ 
          var char_code = (evt.which) ? evt.which : event.keyCode 
          if (char_code > 31 && (char_code < 48 || char_code > 57)){
            return false
          }
          return true
        } 

    </script> 
</html>